<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Show</title>
</head>
<body>
    <div class="container text-center text-center text-primary  mt-lg-5 bg-dark" >
        <h1>Submitted Info</h1>
        <h3>User Name: {{session['name']}}</h3>
        <h3>User Favorite Language: {{session['language']}}</h3>
        <h3> User Location: {{session['location']}}</h3>
        <h3>User Message: {{session['message']}}</h3>
        <h3>User IP address: {{request.environ['REMOTE_ADDR']}}</h3>
        <form action="/" method="get">
            <button type="submit" class="btn btn-primary">Back</button>
        </form>
    </div>


</body>
</html>